  <aside class="bg-primary">
      <div class="container text-center">
          <div class="call-to-action">
              <h2 class="section-heading">优惠政策!</h2>
              <hr class="light">
              <p class="text-left">为了答谢广大新用户对我们的支持和信任，英璞编辑在开业首月特推出了优惠促销政策。即日起凡在英璞编辑签单的客户，均享受九五折优惠。活动期间欢迎客户推荐，成功签单的推荐客户每位反现 100元。</p>
              <p class="text-left">此后凡客户累计消费到五千元，自动成为银卡会员， 以后订单享受九折优惠；订单累计消费到一万元，自动成为金卡会员， 以后订单享受八五折优惠；订单累计消费到五万元，自动成为白金卡会员， 以后订单享受八折优惠 。</p>
              <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>    -->
          </div>
      </div>
  </aside>
