<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关于EnPUB[英璞网]</h2>
                <hr class="light">
                <p class="text-faded">英璞的团队包括在美国名校从事学术研究，并曾在Nature Genetics等著名农业生物类期刊发表论文的专业科研工作者以及常青藤院校的在职教授及退休教授，他们对高水平论文的发表具有丰富的经历，并且本身也是本行业核心期刊的资深审稿人。出于对国外期刊接收稿件要求和国内客户切身需求的深刻理解，英璞致力于让更多的研究生和科研人员获得更加有保障的优质的专业英语修改服务，始终坚持用户第一、质量和时效双保证的理念。</p>

                <p class="text-faded">英璞的编辑团队由农业生物专业背景的英语母语编辑和在美国名校从事科研工作的资深华人学术编辑共同组成。我们的团队组成有效的规避了英语母语编辑可能对论文中会出现的一些中文习惯的表达出现的误解，以此对论文润色的准确性和专业性更多加一层保障。</p>
                <a href="#portfolio" class="btn btn-default btn-xl">使用我们服务最新发表的文章</a>
            </div>
        </div>
    </div>
</section>
