<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">我们的联系方式</h2>
                <hr class="primary">
                <p>如果您已经准备好了你的初稿，请通过下面的方式与我们尽快联系。
                </p>
            </div>
        <!---
        <div class="col-lg-2 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p>000-000-000 (中国) 000-000-000 (美国)</p>
            </a>
        </div>
        --->
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}?subject=[EnPUB-咨询]">
            <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <i class="fa fa-wechat fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p>add bar-code (to be added)</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <i class="fa fa-qq fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p>QQ: 1163248758</p>
            </a>
        </div>

    </div>
</section>
<section class=bg-warning>
  <t2> ad </t2>
</section>
