<img src="img/portfolio/journals.jpg" class="img-responsive center-block" alt="">
<section class="bg-warning" id = "review-exp">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">国际期刊评审与主编</h2>
            <hr class="primary">
            <p class="text-left">英璞的核心团队拥有丰富的在英文国际期刊发表文章的经验，并长期担任多个期刊的常任审稿人，编辑组成员以及主编。以下为英璞团队发表文章，担任审稿人或主编的英文期刊列表：</p>
            <p> </p>
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>    -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    --->
                    <h3 class="text-muted">基因工程与分子生物学</h3>
                    <ul class="text-left">
                      <li> Nature Genetics</li>
                      <li> Nature Biotechnology</li>
                      <li> Proceeds of National Academy Science</li>
                      <li> New Phytologist</li>
                      <li> Environmental Microbiology</li>
                      <li> Theoretical and Applied Genetics</li>
                      <li> Molecular Plant Microbes Interaction</li>
                      <li> Phytopathology</li>
                      <li> Plant Disease</li>
                      <li> Molecular Breeding</li>
                      <li> PLos Genetics</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    --->
                    <h3 class="text-muted">医学与流行病学</h3>
                    <p class="text-left">
                      <ul  class="text-left">
                        <li>	Annals of Epidemiology	</li>
                        <li>	Cogent Medicine	</li>
                        <li>	Health Services and Outcomes Research Methodology (HSOR)	</li>
                        <li>	The American Journal of Epidemiology (AJE)	</li>
                        <li>	BMC Infectious Diseases	</li>
                        <li>	BMJ Open	</li>
                        <li>	Emerging Themes in Epidemiology	</li>
                        <li>	Epidemiology	</li>
                        <li>	AIDS & Clinical Research	</li>
                        <li>	Clinical Infectious Diseases (CID)	</li>
                        <li>	International Journal of Epidemiology & Infection	</li>
                        <li>	Journal of AIDS & Clinical Research	</li>
                        <li>	Journal of Clinical Epidemiology (JCE)	</li>
                        <li>	PLOS ONE	</li>
                        <li>	Journal of the American Heart Association (JAHA)	</li>
                        <li>	Nature (Scientific Reports).</li>
                      </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--- <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    --->
                    <h3 class="text-muted">公共卫生与医学统计</h3>
                    <p class="text-left">
                    <ul class="text-left">
                    <li>	Annals of Applied Statistics	</li>
                    <li>	Biometrics	</li>
                    <li>	Biostatistics	</li>
                    <li>	Clinical Trials	</li>
                    <li>	Statistics in Medicine	</li>
                    <li>	Statistical Science	</li>
                    <li>	Statistics and Probability Letters	</li>
                    <li>	Statistical Modelling	</li>
                    <li>	Journal of Computational and Graphical Statistics (JCGS)	</li>
                    <li>	Journal of Statistical Computation and Simulation	</li>
                    <li> Journal of the American Statistical Association (JASA)</li>
                    <li>	International Statistical Review	</li>
                  </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!---  <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    --->
                    <h3> </h3>
                    <p class="text-muted"> </p>
                </div>
            </div>
        </div>
    </div>
</section>
