<aside class="bg-warning">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">国际期刊审稿人与主编</h2>
            <hr class="primary">
            <img src="img/portfolio/journals.jpg" class="img-responsive center-block" alt="">
            <p> </p>
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>    -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    --->
                    <h3 class="text-muted">基因工程与分子生物学</h3>
                    <p class="text-left">Nature Genetics, Nature Biotechnology, Proceeds of National Academy Science, New Phytologist，Environmental Microbiology, Theoretical and Applied Genetics, Molecular Plant Microbes Interaction, Phytopathology, Plant Disease, Molecular Breeding, PLos Genetics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    --->
                    <h3 class="text-muted">医学与流行病学</h3>
                    <p class="text-left">AIDS & Clinical Research
Annals of Epidemiology
Cogent Medicine
Health Services and Outcomes Research Methodology (HSOR)
The American Journal of Epidemiology (AJE)
BMC Infectious Diseases
BMJ Open
Emerging Themes in Epidemiology
Epidemiology
Clinical Infectious Diseases (CID)
International Journal of Epidemiology & Infection
Journal of AIDS & Clinical Research
Journal of Clinical Epidemiology (JCE)
PLOS ONE
Journal of the American Heart Association (JAHA)
Nature (Scientific Reports). </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--- <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    --->
                    <h3 class="text-muted">公共卫生与医学统计</h3>
                    <p class="text-left">Journal of the American Statistical Association (JASA)
Annals of Applied Statistics
Biometrics
Biostatistics
Clinical Trials
Statistics in Medicine
Statistical Science
Statistics and Probability Letters
Statistical Modelling
Journal of Computational and Graphical Statistics (JCGS)
Journal of Statistical Computation and Simulation
International Statistical Review</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!---  <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    --->
                    <h3> </h3>
                    <p class="text-muted"> </p>
                </div>
            </div>
        </div>
    </div>
</aside>
