<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">英文编辑服务</h2>
                <hr class="primary">
                <img src="img/portfolio/books-new.jpg" class="img-responsive center-block" alt="">
                <p> </p>
                <p class="text-left">所有英璞接下的稿件，将经过至少两位编辑的审核修改：首先我们的英语母语编辑会对文法包括单词拼写和用法，标点符号的使用。对论文中的语法错误进行全面检查与修正，包括主谓一致、时态、单复数、冠词、名词、从句、固定搭配等等，重点检查论文中的词汇选用是否准确得体，并针对不恰当或语义模糊的句子结构进行改进。然后我们英语流利的华人学术编辑会对稿件进行交付前的终审，以保证英语母语编辑对所有句式表达理解的准确性和专业性。</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>标准润色修改</h3>
                    <p class="text-muted">标准润色0.35元／字，主要保证语言表达的流畅性和专业性。</p>
                    <p> 我们建议英文水平较好且有论文投稿经验的作者使用。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>深度润色修改</h3>
                    <p class="text-muted">深度润色0.55元／字，在标准润色基础上还将更为细致地对论文的语言逻辑、表达风格、行文结构等方面提出建议和指导，做出详尽注释。</p>
                    <p>我们强烈建议希望刊登论文至SCI国际期刊的作者使用深度润色服务。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>学术报告修改</h3>
                    <p class="text-muted">暂未开通。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>专利申请修改</h3>
                    <p class="text-muted">暂未开通。</p>
                </div>
            </div>
        </div>
    </div>
</section>
