<section class="bg-primary" id="workflow">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">服务流程</h2>
                <hr class="light">
                <p class="text-faded">请将您经过多轮修改过确认无误的最终稿件email投递至enpub@outlook.com给我们进行评估，我们会根据稿件的英文表达和流畅度以及您预期投稿的期刊来建议您选择标准润色或是高级润色服务（24小时以内回复）。如果您同意我们的报价和协议的时效性，签订协议后，项目立即启动。支付方式： 一次性/分段性？</p>
                <!-- <a href="#portfolio" class="btn btn-default btn-xl">使用我们服务最新发表的文章</a>  -->
            </div>
        </div>
    </div>
</section>
